.message {
	&__sendingFrom {
		width: 100%;
		background-color: #E91E63;
		color: white;
		&--src {
			width: 60px;
			height: 60px;
			}
		&--text {
			margin-left: 10px;		
		}
	}

	&__content, &__title {
		margin-left: 10px;	
		text-align: left;
	}

	&__button {
		width: 200px;
		margin-top: 3px;
		margin-bottom: 10px;
	}
}