<div class="message" layout="column">
    <div class="message__sendingFrom" layout="row">
        <h3 class="message__sendingFrom--text">
            <b> {{ 'MESSAGE_FROM' | translate }} {{message.sender.name}} </b>
        </h3>
        <span flex>
        </span>
        <img class="message__sendingFrom--src" src="{{message.sender.src}}" alt="No Image">
    </div>
    <br>
    <h2 class="message__title">
        {{message.title}}
    </h2>
    <p class="message__content">
        {{message.content}}
    </p>
    <br>
    <br>
    <div layout="column" layout-align="none center">
        <md-button ng-click="reply()" class="message__button md-raised md-accent">
            {{ 'MESSAGE_REPLY' | translate }}
        </md-button>
        <md-button ng-click="goToMessages()" md-theme="themeTaskC" class="message__button md-raised md-accent">
            {{ 'MESSAGE_RETURN' | translate }}
        </md-button>
    </div>
</div>