@import "app/app.variables.scss";
@import "home/home.scss";
@import "settings/settings.scss";
@import "sidenav/sidenav.scss";
@import "tasks/tasks.scss";
@import "toolbar/toolbar.scss";
@import "landing/landing.scss";
@import "signup/signup.scss";
@import "translator/translator.scss";
@import "terms/terms.scss";
@import "map/map.scss";
@import "map/profile.scss";
@import "forum/forum.scss";
@import "ask/ask.scss";
@import "messenger/messenger.scss";
@import "messages/messages.scss";
@import "message/message.scss";
@import "help/help.scss";
@import "programs/programs.scss";
@import "question/question.scss";
@import "rights/rights.scss";


body {
	top: 0px !important; 
	font-family: 'Lato', sans-serif;	
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 

.offlineOption {
	color: #BDBDBD;
}
