/* Config Variables */
$toolbar-vh: 8vh;
$toolbar-min-height: 50px;
$toolbar-max-height: 72px;


$main-vh: 92vh;
$map-vh: 82vh;

$view-small: "screen and (max-height: 425px)";
$view-normal: "screen and (min-height: 426px)";
$view-large: "screen and (min-height: 801px)";
$view-extralarge: "screen and (min-height: 1025px)";

$view-thin: "screen and (max-width: 801px)";
