<div class="question" layout="column">
	<md-list-item 
		class="question__main md-3-line" 
		layout="row"
		layout-align="start"
	>
		<img 
			class="md-avatar"
			ng-src={{question.asker.src}}
		>
		<div>
			<h3 class="question__main--title">{{ question.title }}</h3>
			<p class="question__main--name"> {{ question.asker.name }}</p>
			<p class="question__main--content"> {{ question.content }}</p>
		</div>
	</md-list-item>

	<md-list class="question__responselist">
		<md-list-item 
			class="question__response md-3-line"
			ng-repeat="response in question.responses | orderBy: ['-votes.length','created_at']"
			layout="row"
			layout-align="start"
		>
			<div layout="column" layout-align="center">
				<img ng-src="{{response.responder.src}}" class="md-avatar">
				<div layout="row" layout-align="start center">
					<md-icon class="question__response--voteIcon" 
						ng-hide="checkVoted(response.votes)" 
						md-font-set="material-icons"
						ng-click="vote(response.id)"
					>
						favorite_border
					</md-icon>
					<md-icon class="question__response--voteIcon" ng-show="checkVoted(response.votes)" md-font-set="material-icons">favorite</md-icon>
					<p class="question__response--voteCtr">{{ niceNum(response.votes.length) || 00 }}</p>
				</div>
			</div>
			<div>
				<p class="question__response--name">{{ response.responder.name}}</p>
				<p class="question__response--content">{{ response.content }}</p>
			</div>
		</md-list-item>
	</md-list>
	<br>
	<div layout="column" layout-align="none center">
	    <md-button 
	    	class="question__button md-primary md-raised"
	    	ng-click="writeResponse()" 
	    	ng-hide="writingResponse"
	    >
	    	{{ 'QUESTION_ADDRESPONSE' | translate }}
	        <md-icon md-font-set="material-icons">
	        	add_circle
	        </md-icon>
	    </md-button>
	    <md-button 
	    	md-theme="themeTaskC"
	    	class="question__button md-accent md-raised"
	    	ui-sref="forum()" 
	    	ng-hide="writingResponse"
	    >
	    	{{ 'QUESTION_RETURNTOFORUM' | translate }}
	    </md-button>
	</div>
	<form 
		name="questionForm"
		ng-show="writingResponse" 
		class="question__form" 
		layout="column"
		layout-align="none center"
	>
		<md-input-container class="question__form--response">
			<label>{{ 'QUESTION_YOURRESPONSE' | translate }}</label>
            <textarea ng-model="respContent" md-maxlength="200" rows="4" md-select-on-focus required>
            </textarea>
		</md-input-container>
        <md-button 
        	ng-click="postResponse()" 
        	type="submit" 
        	class="md-primary md-raised question__form--button" 
        	ng-disabled="questionForm.$invalid"
        >
            {{ 'QUESTION_SUBMITRESPONSE' | translate }}
        </md-button>
		<md-button 
			ng-click="cancelResponse()"  
			class="md-warn md-raised question__form--button"
		>
            {{ 'QUESTION_CANCELRESPONSE' | translate }}
        </md-button>
    </form>
</div>