<div layout="column" layout-align="none center" class="phrasebook__container">
	<h2 class="phrasebook__header">{{ 'PHRASEBOOK_HEADER' | translate }}</h2>
	<p class="phrasebook__emptyText" ng-show="noSavedPhrases">{{ 'PHRASEBOOK_NOSAVED' | translate }}</p>
	<md-button ng-show="noSavedPhrases" class="phrasebook__button md-raised md-primary" ng-click="goToTranslator()">
		Start Translating!
	</md-button>

	<md-list md-theme="altTheme3" class="phrasebook__list" layout="column" layout-align="center">
		<md-list-item class="phrasebook__phrase md-whiteframe-2dp" md-colors="{background: 'accent'}" ng-repeat="phrase in phrases" layout="row">
			<div layout="column" flex>
				<h4 class="phrasebook__phrase--translated" flex>{{phrase.translated}}</h4>
				<h4 class="phrasebook__phrase--translation" flex>{{phrase.translation}}</h4>
			</div>
			<md-button ng-show="phraseCanBePlayed(phrase)" class="md-icon-button" aria-label="phrase" ng-click="playPhrase(phrase)">
				<md-icon md-font-set="material-icons">record_voice_over</md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Delete" ng-click="deletePhrase(phrase)">
				<md-icon md-font-set="material-icons">delete_forever</md-icon>
			</md-button>
		</md-list-item>
	</md-list>
</div>
