.phrasebook {

	&__header {
		margin-bottom: 5px;
		text-align: center;
	}

	&__list {
		width: 100%;
	}

	&__phrase {
		border: 1px solid white;
		padding-left: 10px;

		&--translated {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		&--translation {
			margin-top: 5px !important;
			margin-bottom: 5px;	
		}
	}

	&__emptyText {
		text-align: center;
	}

	&__button {
		width: 200px;
		margin-top: 3px;
		margin-bottom: 3px;
	}

}