<div class="translator__container" md-theme="default" flex>
	<br>
	<form name="translatorForm" class="translator__form" layout="column" layout-align="none center" flex>
		<md-input-container class="translator__textarea">
	    <label>{{ 'TRANSLATE_HEADER' | translate }} </label>
      <textarea ng-model="textToTranslate" md-maxlength="50" minlength="5"  rows="2"></textarea>
	  </md-input-container>
	  <h3 class="translator__convertText">
	  	{{ 'TRANSLATE_CONVERT_HEADER' | translate }}
	  </h3>
	  <md-button type="submit" class="translator__button md-raised md-primary" ng-disabled="translatorForm.$invalid" ng-click="translate('tl')">
	  		{{ 'TRANSLATE_TAGALOG'| translate }}
			
		</md-button>
		<md-button type="submit" class="translator__button md-raised md-primary" ng-disabled="translatorForm.$invalid" ng-click="translate('id')">
  			{{ 'TRANSLATE_BAHASA' | translate }}	
		</md-button>
		<md-button type="submit" class="translator__button md-raised md-primary" ng-disabled="translatorForm.$invalid" ng-click="translate('en')">
 			{{ 'TRANSLATE_ENGLISH' | translate }}
		</md-button>
		<md-button type="submit" class="translator__button md-raised md-primary" ng-disabled="translatorForm.$invalid" ng-click="translate('zh')">
			{{ 'TRANSLATE_CHINESE' | translate }}
		</md-button>
	</form>
	<br>
	<div layout="column" class="translator__translated" layout-align="none center">
		<md-progress-circular ng-hide="notLoading" ng-disabled="notLoading"></md-progress-circular>
		<h4 class="translator__translated--text">{{translatedText}}</p>
		<h4 class="translator__disclaimer">*Homie's Translations are powered by the Yandex.Translate API.</h4>
		<md-button class="translator__button md-raised md-warn" ng-click="playPhrase()" ng-disabled="playerDisabled">Play Phrase</md-button>
		<md-button class="translator__button md-raised md-accent" ng-click="savePhrase()">Save Phrase</md-button>
	</div>
	
</div>