.transNavbar {

	width: 100%;

	/* angular-material nav-bar bugfix */
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		max-width: 100%;
		margin: auto;
	}

	li {
		margin-left: 0px !important;
		width: 50%;
		button {
			width: 100%;
		}
		.md-unselected .material-icons {
			color: rgba(0,0,0,0.54);
		}
	}
	@media #{$view-thin} {
		&__buttonText {
			display: none !important;
		}
	}
}


.translator {
	&__textarea {
		width: 400px;
		margin-bottom: 5px;
	}

	&__button {
		width: 200px;
		margin-top: 3px;
		margin-bottom: 3px;
	}

	&__disclaimer {
		text-align: center;
		width: 250px;	
		margin-top: 5px;
		margin-bottom: 5px;
	}

	&__convertText {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	&__translated {
		margin-top: 10px;
		&--text {
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}
}

.phrasebook {

	&__header {
		margin-bottom: 5px;
		text-align: center;
	}

	&__list {
		width: 100%;
	}

	&__phrase {
		border: 1px solid white;
		padding-left: 10px;

		&--translated {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		&--translation {
			margin-top: 5px !important;
			margin-bottom: 5px;	
		}
	}

	&__emptyText {
		text-align: center;
	}

	&__button {
		width: 200px;
		margin-top: 3px;
		margin-bottom: 3px;
	}

}

