.translator {
	&__textarea {
		width: 400px;
		margin-bottom: 5px;
	}

	&__button {
		width: 200px;
		margin-top: 3px;
		margin-bottom: 3px;
	}

	&__disclaimer {
		text-align: center;
		width: 250px;	
		margin-top: 5px;
		margin-bottom: 5px;
	}

	&__convertText {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	&__translated {
		margin-top: 10px;
		&--text {
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}
}