.task {
	.tnavbar {

		width: 100%;

		/* angular-material nav-bar bugfix */
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			max-width: 100%;
			margin: auto;
		}

		li {
			margin-left: 0px !important;
			width: 50%;
			button {
				width: 100%;
			}
			.md-unselected .material-icons {
				color: rgba(0,0,0,0.54);
			}
		}

		@media #{$view-thin} {
			&__buttonText {
				display: none !important;
			}
		}
	}


	.tasklist {

		&__item {
			border: 1px solid white;
		
			&--mainWithProg {
				h3 {
					margin-bottom: 10px;
				}
				md-progress-linear {
					padding-bottom: 8px;
				}
			}
		}
		
	}

	.taskform {
	
		md-input-container {
			margin-top: 10px;
			margin-bottom: 0px;
		}
			
		&__taskName {
			width: 500px;
		}

		&__alert {
			margin-bottom: 5px;

			&--bool {
				margin-top: 3px;
				margin-bottom: 3px;

				md-checkbox {
					margin-top: 3px;
					margin-bottom: 3px;
				}
			}

			&--input {
				margin-top: 10px;
				margin-bottom: 10px;
				width: 190px;
			}
		}

		&__dur {
			margin-bottom: 5px;

			&--bool {
				margin-top: 3px;
				margin-bottom: 3px;

				md-checkbox {
					margin-top: 3px;
					margin-bottom: 3px;
				}
			}

			&--input {
				margin-top: 10px;
				margin-bottom: 10px;
				width: 190px;
			}
		}

		&__footer {
			text-align: center;

			&--button {
				width: 150px;
			}
		}
	}
}


