.landing {
	&__container {
		position: relative;
		background-image: url("/media/landingDefault.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;	
	}

	&__translucence {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.65);
	}

	&__content {
		color: white;
	}

	&__text {
		margin: 0;
		margin-bottom: 5px;

		&--header {
			font-size: 3em;
			margin-bottom: 5px;
		}
		
		&--terms, &--slogan {
			text-align: center;
			width: 80%;
		}

		@media #{$view-small} {
			&--terms, &--slogan, &--divert {
				display: none !important;
			}
		}
		@media #{$view-normal} {
			&--terms {
				text-align: center;
			}
			&--divert {
				display: none !important
			}
		}
		@media #{$view-large} {
			&--divert {
				display: block !important;
				width: 80vw;
				text-align: center;
			}
		}

	}

	&__input1 {
		color: white !important;
		margin-top: 5px;
		margin-bottom: 0;
		border-color: white;
	}

	&__input2 {
		color: white !important;
		margin-top: 3px;
		margin-bottom: 3px;
	}

	&__langSwitch {
		margin: 2px 2px 2px 2px;
		width: 76px; 
		padding-left: 0px;
		padding-right: 0px;
		&--flagIcon {
			width: 58px;
			height: 42px;
			margin: 2px 5px 2px 5px;
		}

		&--flagText {
			text-align: center;
			margin: 0;
		}
	}

	@media #{$view-small} {
		&__fbButton {
			display: none !important;
		}
		&__flagIcon {
			display: none !important;
		}
	}

}