<div class="landing__container" ng-style="{'background-image': 'url({{bg}}'}" md-theme="altTheme3" flex>

	<div class="landing__translucence" layout="column" layout-align="center center">
		<h1 class="landing__text--header">Homie</h1>
		<p class="landing__text--subtitle">{{ 'LANDING_SLOGAN' | translate }}</p>
		<md-button md-theme="altTheme3" class="landing__fbButton md-raised md-accent" ng-click="fbLogin()">
			&nbsp {{ 'ACCESS_FACEBOOK_LABEL' | translate }} &nbsp
		</md-button>
		<md-button md-theme="default" class="landing__switchButton md-raised md-primary" ng-click="switchLang()">
			{{ 'LANDING_CHANGELANG' | translate }}
		</md-button>
		<p class="landing__text--divert">
			{{ 'LANDING_DIVERT1' | translate }}<br>
			{{ 'LANDING_DIVERT2' | translate }}<br>
		</p>
		<p class="landing__text--terms">
			{{ 'LANDING_TERMS1' | translate }} <br>
			{{ 'LANDING_TERMS2' | translate }} <u ng-click="goToTerms()">{{ 'LANDING_TERMS3' | translate }}</u>.
		</p>
	</div>
</div>