.msgnavbar {

	width: 100%;

	/* angular-material nav-bar bugfix */
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		max-width: 100%;
		margin: auto;
	}

	li {
		margin-left: 0px !important;
		width: 50%;
		button {
			width: 100%;
		}
		.md-unselected .material-icons {
			color: rgba(0,0,0,0.54);
		}
	}
}

.messages {
	&__header {
		text-align: center;
	}
	&__listItem {
		background-color: #EEEEEE;
		border: 1px solid white;
		&--src {
			width: 70px;
			height: 70px;	
		}
		&--info {
			margin-left: 10px;
			h3, p {
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
	}
	&__none {
		text-align: center;
	}
}


