<div layout="column" class="message">

	<!-- Map Navbar -->
	<md-nav-bar md-theme="themeTaskP" class="mnavbar md-whiteframe-5dp" md-selected-nav-item="currentNavItem" nav-bar-aria-label="mnavbar">
	  <md-nav-item class="msgnavbar__button" md-nav-click="setView('inbox')" layout="column">
	  	{{ 'MESSAGES_INBOX_NAV' | translate }}
	  </md-nav-item>
	  <md-nav-item class="msgnavbar__button" md-nav-click="setView('sent')" layout="column">
	  	{{ 'MESSAGES_SENT_NAV' | translate }}
	  </md-nav-item>
	</md-nav-bar>
	<!-- End of Navbar -->

	<!-- Inbox --> 
	<div ng-show="view == 'inbox'">
		<h2 class="messages__header">{{ 'MESSAGES_INBOX_HEADER' | translate }}</h2>
		<p class="messages__none" ng-show="emptyInbox">
			{{ 'MESSAGES_NONE' | translate }}
		</p>
		<md-list class="messages__list" layout="column">
			<md-list-item 
				class="messages__listItem" 
				ng-repeat="inboxMessage in inboxMessages"
				md-whiteframe-2dp
				layout="row"
				layout-align="start center"
				ng-click="viewMessage(inboxMessage)"
			>
				<img 
					class="messages__listItem--src" 
					src="{{inboxMessage.sender.src}}"
					alt="No Image"
				>
				<div class="messages__listItem--info" flex>
					<h3>{{ limitStr(inboxMessage.sender.name, 18) }}</h3>
					<p>{{ limitStr(inboxMessage.title, 25) }}</p>
				</div>

				<md-button 
					class="md-icon-button" 
					layout="column" 
					layout-align="center center"
					ng-click="deleteMessage(inboxMessage)"
				>
					<md-icon md-font-set="material-icons">	delete_forever
					</md-icon>
				</md-button>
			</md-list-item>
		</md-list>
	</div>

	<div ng-show="view == 'sent'">
		<h2 class="messages__header">{{ 'MESSAGES_SENT_HEADER' | translate }}</h2>
		<p class="messages__none" ng-show="emptySent">
			{{ 'MESSAGES_NONE' | translate }}
		</p>
		<md-list class="messages__list" layout="column">
			<md-list-item 
				class="messages__listItem" 
				ng-repeat="sentMessage in sentMessages"
				md-whiteframe-2dp
				layout="row"
				layout-align="start center"
			>
				<img 
					class="messages__listItem--src" 
					src="{{sentMessage.receiver.src}}"
					alt="No Image"
					ng-click="viewMessage(sentMessage)"
					>
				<div class="messages__listItem--info" flex>
					<h3>{{ limitStr(receiver.name, 18) }}</h3>
					<p>{{ limitStr(sentMessage.title, 25) }}</p>
				</div>

				<md-button 
					class="md-icon-button" 
					layout="column" 
					layout-align="center center"
					ng-click="deleteMessage(sentMessage)"
				>
					<md-icon md-font-set="material-icons">	delete_forever
					</md-icon>
				</md-button>
			</md-list-item>
		</md-list>
	</div>
</div>
