<div class="programs" layout="column" layout-align="none center">

	<div class="program" layout="column" ng-repeat="event in events">
		<md-toolbar class="program__top" layout="row" layout-align="none center">
			<span class="program__top--title"> 
				{{event.title}}
			</span>
			<span flex></span>
			<div layout="column" layout-align="center">
				<md-button class="md-icon-button" ng-click="goToLink(event)">
					<md-icon md-font-set="material-icons">
						open_in_new
					</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-content class="program__main" layout="column">
			<div 
				class="program__main--image" 
				ng-style="{'background-image': 'url({{event.bgUrl}})'}"
			>
			</div>
			<br>
			<p class="program__main--text">
				{{event.description}}
			</p> 
			<br>
		</md-content>
	</div>


</div>