<div layout="column" class="map__container">
	
	<!-- Map Navbar -->
	<md-nav-bar md-theme="themeTaskP" class="mnavbar md-whiteframe-5dp" md-selected-nav-item="currentNavItem" nav-bar-aria-label="mnavbar">
	  <md-nav-item class="mnavbar__button" md-nav-click="setView('display')" layout="column">
	  	<md-icon md-font-set="material-icons">map</md-icon>
	  </md-nav-item>
	  <md-nav-item class="mnavbar__button" md-nav-click="setView('settings')" layout="column">
	  	<md-icon md-font-set="material-icons">live_help</md-icon>
	  </md-nav-item>
	</md-nav-bar>
	<!-- End of Navbar -->

	<!-- Map -->	
	<div 
		map-lazy-load="https://maps.google.com/maps/api/js"
		map-lazy-load-params="{{gMapsUrl}}" 
		layout="column" 
		ng-show="view === 'display'" 
		class="map__wrap" 
		flex
	>
		<ng-map 
			class="map__display" 
			styles="{{options.styles}}"
			center="[{{options.center.lat}}, {{options.center.lng}}]"
			zoom="{{options.zoom}}"
			flex
		>
		<marker 
			class="map__marker"
			ng-repeat="coord in coords"			
			id="m{{coord.id}}"
			position="{{coord.lat}},{{coord.lng}}"
			title="{{coord.user.name}}"
			icon="{{coord.icon}}"
			on-click="showDetail(coord)"
		>
		</marker>

		<!-- Info Window -->
		<info-window id="user-iw">
			<div 
				ng-non-bindable="" 
				class="map__infoWindow" 
				layout="column" 
				layout-align="center center"
			>
				<img 
					ng-show="currCoord.user.src"
					class="map__infoWindow--src" 
					src="{{currCoord.user.src}}"
					alt="No Image!"
				>
				<p
					class="map__infoWindow--name"
					style="font-size: 20px; margin-top: 6px; margin-bottom: 0px;"
				>
					{{currCoord.user.name.split(' ')[0]}}
				</p>
				<md-button class="md-raised md-primary" ng-click="showProfile($event)">
					View Profile
				</md-button> 
			</div>
		</info-window> 

		</ng-map>
	</div>
	<!-- End of Map -->

	<!-- Settings -->
	<div ng-show="view === 'settings'" class="map__settings" layout="column" layout-align="center center">
		<p class="map__settingsText">	
			You can make add your profile to the map by selecting 'Display My Profile' below. This will display your profile at your current location.
			<br>
			<br>
			Don't worry -- you can change or hide your profile at any time.
		</p>
		<md-button class="map__button md-raised md-primary" ng-click="markUserLocation()">
			Display My Profile
		</md-button> 
		<md-button class="map__button md-raised md-warn" ng-click="removeUserLocation()">
			Hide My Profile
		</md-button> 
	</div>
	<!-- End of Settings -->
</div>	