<div layout="column" class="map__container">
	
	<!-- Map Navbar -->
	<md-nav-bar md-theme="themeTaskP" class="mnavbar md-whiteframe-5dp" md-selected-nav-item="currentNavItem" nav-bar-aria-label="mnavbar">
	  <md-nav-item class="mnavbar__button" md-nav-click="setView('display')" layout="column">
	  	<md-icon md-font-set="material-icons">map</md-icon>
	  </md-nav-item>
	  <md-nav-item class="mnavbar__button" md-nav-click="setView('settings')" layout="column">
	  	<md-icon md-font-set="material-icons">live_help</md-icon>
	  </md-nav-item>
	</md-nav-bar>
	<!-- End of Navbar -->

	<!-- Map -->		
	<div id="mapDisplay" ng-show="view === 'display'">
	</div>
	<!-- End of Map -->

	<!-- Settings -->
	<div ng-show="view === 'settings'" class="map__settings" layout="column" layout-align="center center">
		<p class="map__settingsText">	
			{{ 'MAP_SETTINGS1' | translate }}			
			<br>
			<br>
			{{ 'MAP_SETTINGS2' | translate }}
		</p>
		<md-button class="map__button md-raised md-primary" ng-click="markUserLocation()">
			{{ 'MAP_DISPLAY_BUTTON' | translate }}
		</md-button> 
		<md-button class="map__button md-raised md-warn" ng-click="removeUserLocation()">
			{{ 'MAP_HIDE_BUTTON' | translate }}
		</md-button> 
	</div>
	<!-- End of Settings -->
</div>	