.help {
	&__container {
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: $main-vh;
	}

	&__header {
		margin-bottom: 5px;
		text-align: center;
	}

	&__translucence {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: $main-vh;
		background-color: rgba(0, 0, 0, 0.60);
	}


	&__content {
		position: relative;
		z-index: 5;
		color: white;
		width: 100%;
		height: $main-vh;


		&--text {
			width: 80%;
			text-align: center;
		}

		&--button {
			width: 220px;
			margin-top: 12px;
			margin-bottom: 12px;
		}

	}


}