<div class="messenger" layout="column" layout-align="none center">
    <div class="messenger__sendingTo" layout="row">
        <h3 class="messenger__sendingTo--text">
            <b> To: {{receiver.name}} </b>
        </h3>
        <span flex>
        </span>
        <img class="messenger__sendingTo--src" src="{{receiver.src}}" alt="No Image">
    </div>
    <br>
    <br>
    <form name="messengerForm" class="messenger__form" layout="column" layout-align="none center">
        <md-input-container class="messenger__form--title">
            <label>Message Title</label>     
            <input class="" type="text" ng-model="title" required>
        </md-input-container>
        <md-input-container class="md-block messenger__form--content">
            <label>Message Content</label>
            <textarea ng-model="content" md-maxlength="150" rows="3" md-select-on-focus required>
            </textarea>
        </md-input-container>
        <md-button ng-click="sendMessage()" type="submit" class="md-primary md-raised messenger__form--button" ng-disabled="messengerForm.$invalid">
            Send Your Message
        </md-button>
        <md-button ng-click="goToMessages()" md-theme="themeTaskC" class="messenger__form--button md-raised md-accent">
            Return To Messages
        </md-button>
    </form>
</div>