#mainToolbar {
	padding-left: 10px;
}


#toolbar {
	height: 60px;
	min-height: 60px;
	h3 {
		margin-top: 17px;
		margin-bottom: 20px;
	}
	#menuButton {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#sidenav {
	width: 120px;
	min-width: 120px;
}

