.terms {
	&__header {
		padding-left: 10px;
		margin-bottom: 5px;
		color: black;
	}
	&__container {
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
	}

	&__text {
		padding-left: 10px;
		margin: 0;
		width: 90vw;
		color: black;
	}
}